<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <script>
            function ajaxOneevent(event) {
                var status = event.status;
                if (status == "begin") {
                    document.getElementById("loading-screen").style.display = "block";
                    document.getElementById("result-screen").style.display = "none";
                } else if (status == "success") {
                    document.getElementById("loading-screen").style.display = "none";
                    document.getElementById("result-screen").style.display = "block";
                }
            }

            function onError() {
                alert('Error');
            }

            setInterval(function () {
                document.getElementById("form:show-button").click();
            }, 1000);
        </script>
    </h:head>
    <h:body>
        <br />
        <h:form id="form">
            <h:commandButton value="Hora" style="display: none" id="show-button" action="#{ajaxBean.showTime()}" >                
                <f:ajax render="time" />
            </h:commandButton>

            <h1 style="text-align: center" >
                <h:outputText id="time" value="#{ajaxBean.time}"/><br /> 
            </h1>
        </h:form><br />

        <h:form>
            <div style="text-align: center" >
                <h:commandButton value="Send"  action="#{ajaxBean.sendAction()}" >                
                    <f:ajax onevent="ajaxOneevent" onerror="onError" render="output" />
                </h:commandButton>
            </div>                  

            <div id="loading-screen" style="display: none;text-align: center">
                <img src="../img/ajax-loader.gif" alt=""/>
            </div>

            <h1 id="result-screen" style="text-align: center" >
                <h:outputText id="output" value="#{ajaxBean.resultText}"/><br /> 
            </h1>
        </h:form><br />

        <h:form>
            <h:inputText>                
                <f:ajax event="click" render="idevento" listener="#{ajaxBean.ajaxClick()}"/>
                <f:ajax event="change" render="idevento" listener="#{ajaxBean.ajaxChange()}"/>
                <f:ajax event="blur" render="idevento" listener="#{ajaxBean.ajaxBlur()}"/>
                <f:ajax event="dblclick" render="idevento" listener="#{ajaxBean.ajaxDoubleClick()}"/>
                <f:ajax event="focus" render="idevento" listener="#{ajaxBean.ajaxFocus()}"/>
                <f:ajax event="keydown" render="idevento" listener="#{ajaxBean.ajaxkeyDown()}"/>
                <f:ajax event="keypress" render="idevento" listener="#{ajaxBean.ajaxkeypress()}"/>
                <f:ajax event="keyup" render="idevento" listener="#{ajaxBean.ajaxkeyup()}"/>
                <f:ajax event="mousedown" render="idevento" listener="#{ajaxBean.ajaxMouseDown()}"/>
                <f:ajax event="mousemove" render="idevento" listener="#{ajaxBean.ajaxMouseMove()}"/>
                <f:ajax event="mouseout" render="idevento" listener="#{ajaxBean.ajaxMouseOut()}"/>
                <f:ajax event="mouseover" render="idevento" listener="#{ajaxBean.ajaxMouseOver()}"/>
                <f:ajax event="mouseup" render="idevento" listener="#{ajaxBean.ajaxMouseUp()}"/>
                <f:ajax event="select" render="idevento" listener="#{ajaxBean.ajaxSelect()}"/>
            </h:inputText>

            <h:outputText id="idevento" value="#{ajaxBean.evento}"/><br /> 
        </h:form>
        <br />
        <h:form>
            <h:inputText id="idname" value="#{ajaxBean.name}" />
            <h:commandButton value="Saludo" action="#{ajaxBean.definirSaludo()}">
                <f:ajax execute="idname" render="idHello"/>
            </h:commandButton>
            <h:outputText id="idHello" value="#{ajaxBean.outputText}"/><br /> 
        </h:form>

    </h:body>
</html>

