<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <link href="../../css/estilo.css" type="text/css" rel="stylesheet" />
    </h:head>
    <h:body>
        <h:form>
            IDIOMA
            <h:commandButton value="Ingles" action="#{eventBean.changeLocale('en')}"/>
            <h:commandButton value="Frances" action="#{eventBean.changeLocale('fr')}"/>
            <h:commandButton value="Español" action="#{eventBean.changeLocale('es')}"/>
        </h:form><br />

        <h:form>
            <h:outputText value="#{msg['message.paises']}" />
            <h:selectOneMenu valueChangeListener="#{eventBean.valueChange}" onchange="submit()">
                <f:selectItem itemValue="#{null}" itemLabel="Select..." />
                <f:selectItems value="#{eventBean.contries}" var="co" itemLabel="#{co.name}" itemValue="#{co.id}"/>
            </h:selectOneMenu>

            <br />
            <h:outputText value="#{eventBean.value}"/>
            <br />

            <h:outputText value="#{msg['message.ciudades']}" /> <h:selectOneMenu>
                <f:selectItem itemValue="#{null}" itemLabel="Select..." />
                <f:selectItems value="#{eventBean.cities}" var="ci" itemLabel="#{ci.name}" itemValue="#{ci.id}"/>
            </h:selectOneMenu>
        </h:form>
        <br />
        <h:form>
            <div id="panel">
                Full Name :
                <h:outputLabel value="#{eventBean.fullName}" rendered="#{ not eventBean.editable}">
                    <f:ajax event="dblclick" listener="#{eventBean.update()}" render="@form"/>
                </h:outputLabel> 


                <h:inputText style="font-size: 28px;border: 1px solid #DDD" value="#{eventBean.fullName}" rendered="#{eventBean.editable}">
                    <f:ajax event="blur" listener="#{eventBean.save()}" render="@form" execute="@form"/>
                </h:inputText> 

            </div>     
        </h:form>

        <br />

        <h:form>
            <h:selectOneRadio class="jsf-switch-button" value="Male">
                <f:selectItem itemLabel="Male" itemValue="Male"/>
                <f:selectItem itemLabel="Female" itemValue="Female"/>
            </h:selectOneRadio>
        </h:form>    
        
    </h:body>
</html>

