<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <link rel="stylesheet" type="text/css" href="../../css/progress.css"/>
        <script type="text/javascript"  src="../../js/javascript.js"/>
    </h:head>
    <h:body>
        <h:form id="form">
            <div id="progress-container">
                <div id="progress" style="width:#{progressBarBean.progress}%">#{progressBarBean.progress}%</div>
            </div>
            <br/>
            <h:commandButton value="Do process" action="#{progressBarBean.doProgress()}">
                <f:ajax render="@form" onevent="ajax"/>
            </h:commandButton>
            <h:commandButton value="Refresh" id="refresh" style="display: none;">
                <f:ajax render="@form"/>
            </h:commandButton>
        </h:form>
    </h:body>
</html>

