<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <div id="search-panel">
                <h:inputText autocomplete="off" value="#{search.search}">
                    <f:passThroughAttribute name="placeHolder" value="Search ..."/>
                    <f:ajax event="keyup" listener="#{search.search()}" 
                            execute="@this" render="result-panel"/>
                </h:inputText>
                
                <h:panelGroup id="result-panel" layout="block">
                    <ul>
                        <ui:repeat value="#{search.result}" var="r">
                            <li>#{r}</li>
                        </ui:repeat>
                    </ul>
                </h:panelGroup>     
            </div>
        </h:form>
    </h:body>
</html>

