<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <link href="../../css/estilo.css" type="text/css" rel="stylesheet" />          
    </h:head>
    <h:body>
        <h:form>
            <h:inputText value="#{messageBean.input}" />
            <h:commandButton value="Definir message" action="#{messageBean.definirMessage()}"/>
            <h:messages errorClass="error" fatalClass="fatal" infoClass="info" warnClass="warning"/>
        </h:form>
    </h:body>
</html>

