ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
ul li{
    padding: 0px;
    margin: 0px;
}
.error{
    background-color: #ff9999;
    color: #ff0033;
    border:1px solid #ff0033;
}
.fatal{
    background-color: #ff0033;
    color: #cc0033;
    border:1px solid #cc0033;
}
.info{
    background-color: #99ffff;
    color: #00ccff;
    border:1px solid #00ccff;
}
.warning{
    background-color: #ffcc66;
    color: #ff6600;
    border:1px solid #ff6600;    
}
*{
    font-family: Tahoma;
}
#panel{
    border: 1px solid #DDD;
    width: 450px;
    font-size: 28px;
    margin: 50px auto;
    padding: 10px;
    text-align: center;
}

.jsf-switch-button input[type='radio']{
    display: none;
}
.jsf-switch-button label{
    background-color: #009999;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    border-radius: 1px solid #009999;
    color: white;
}
.jsf-switch-button input[type='radio']:checked+label{
    border: 1px solid #DDD;
    background-color: #ededed;
    color: black; 
}
.jsf-switch-button table,tr,td{
    padding: 0px;
    margin: 0px;
}
.jsf-switch-button{
    background-color: #009999;
    padding: 10px 5px 10px 5px;
    border-radius: 3px;
}

/*SEARCH*/
#search-panel{
    border: 1px solid #DDD;
    width: 600px;
    margin: 50px auto;
    padding: 10px;
}
#search-panel input[type='text']{
    width: 100%;
    border: none;
    border-bottom: 1px solid #DDD;
    outline: none;
    font-size: 18px;
    font-family: fantasy;
}
#search-panel ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
#search-panel ul  li{
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    font-family: serif;
}
#search-panel ul  li:hover{
    background-color: #f3f3f3;
}


#upload-button{
    width: 100px;
    height: 100px;
    margin: 20px auto;
    background: url('../../img/upload.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#upload-button input[type='file']{
    width: 100%;
    height: 100%;
    opacity: 0;
}
#upload-button:active{
    width: 102px;
    height: 102px;
}


.popup-panel-overlay{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.popup-panel{
    margin: 100px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #DDD;
}

table{
    border-collapse: collapse;
    width: 1px;
    width: 600px;
}
table thead th{
    background-color: #000000;
    color: white;
    font-weight: bold;
    padding: 5px;
}
table tbody td{
    border: 1px solid #DDD;
    text-align: center;
}
tr.selected td{
    background-color: #DDD;
}