*{
    font-family: "Tahoma"
}
#progress-container{
    background-color: #e3e3e3;
}
#progress{
    background-color: #0099ff;
    color: white;
    width: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}