<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
        <style>
            .no{
                width: 50px;
                border: 1px solid #DDD;
                text-align: center;
                background-color: #ff0033;
                color: black;
            }
            .yes{
                width: 50px;
                border: 1px solid #DDD;
                text-align: center;
                background-color: darkblue;
                color: azure;
            }
        </style>
    </h:head>
    <h:body>
        <h:form>
            <h1>User Experience</h1>
            <hr/>
            <table>
                <tr>
                    <td>Company</td>
                    <td>Position</td>
                    <td></td>
                </tr>
                <ui:repeat value="#{dinamycBean.experienceGroup}" var="e">
                    <tr>
                        <td>
                            <h:inputText value="#{e.company}"/>
                        </td>
                        <td>
                            <h:selectOneMenu value="#{e.position}">
                                <f:selectItem itemLabel="Front-End Developer" itemValue="Front-End Developer"/>
                                <f:selectItem itemLabel="Back-End Developer" itemValue="Back-End Developer"/>
                                <f:selectItem itemLabel="Full-Stack Developer" itemValue="Full-Stack Developer"/>
                            </h:selectOneMenu>
                        </td>
                        <td>
                            <h:commandButton value="Remove" action="#{dinamycBean.remove(e)}">
                                <f:ajax render="@form" execute="@form"/>
                            </h:commandButton>
                        </td>
                    </tr>
                </ui:repeat>    
                <tr>
                    <td colspan="3">
                        <h:commandButton value="Add" action="#{dinamycBean.add()}">
                            <f:ajax render="@form" execute="@form"/>
                        </h:commandButton> 
                        <h:commandButton value="Save" action="#{dinamycBean.save()}" />
                    </td>
                </tr> 

            </table>
        </h:form>

        <h:form>
            <h:commandButton class="#{dinamycBean.buttonValue=='Yes' ? 'yes':'no'}" 
                             value="#{dinamycBean.buttonValue}" action="#{dinamycBean.changeButtonValue()}">
                <f:ajax render="@this" execute="@this"/>
            </h:commandButton>
        </h:form>


    </h:body>
</html>

