<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        Hello from Facelets Page 02

        <h:dataTable value="#{userBean.values}" var="u" rules="all">
            <h:column>
                <f:facet name="header">User</f:facet>
                <h:outputText value="#{u}"></h:outputText>
            </h:column>
        </h:dataTable>
        
    </h:body>
</html>

