<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <h:panelGrid columns="2">
                name: <h:inputText value="#{userBean.name}"/>                
                <h:outputText value="#{userBean.saludo()}" rendered="#{userBean.name != null eq true}"/>
                
                <h:outputText value="Seleccionar"/>
                <h:selectManyCheckbox value="#{userBean.values}">
                    <f:selectItems value="#{userBean.items}" var = "item" itemLabel = "#{item.name}" itemValue = "#{item}"/>
                </h:selectManyCheckbox>
                
                <h:commandButton value="segunda pagina" action="#{userBean.forwardPage()}"/>
            </h:panelGrid>
        </h:form>
        <br />
        <h:form enctype="multipart/form-data">
            <h:inputFile value="#{userBean.file}"/>
            <h:commandButton value="Upload File" action="#{userBean.uploadFile()}"/>
        </h:form>
    </h:body>
</html>

