<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <link href="../../css/estilo.css" type="text/css" rel="stylesheet" />
    </h:head>
    <h:body>
        <h:form>
            <div style="">
                <h:commandButton value="show details" action="#{popupBean.show()}">
                    <f:ajax render="@form"/>
                </h:commandButton>
            </div>
            <div style="background-color: cornflowerblue;">
                Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum
            </div>
            <div style="background-color: darkmagenta">
                Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum
            </div>
            <div style="background-color: cornflowerblue;">
                Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum
            </div>
            <div style="background-color: darkmagenta">
                Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum
            </div>
            <div style="background-color: cornflowerblue;">
                Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum
            </div>
            <div style="background-color: darkmagenta">
                Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum
            </div>
            <div style="background-color: cornflowerblue;">
                Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum
            </div>
            <div style="background-color: darkmagenta">
                Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum Lorem opsum
            </div>

            <h:panelGroup layout="block" styleClass="popup-panel-overlay" rendered="#{popupBean.showPopup}">
                <div class="popup-panel">
                    This is popup panel<br/>
                    This is popup panel<br/>
                    This is popup panel<br/>
                    This is popup panel<br/>
                    This is popup panel<br/>
                    <h:commandButton value="hide details" action="#{popupBean.hide()}">
                        <f:ajax render="@form"/>
                    </h:commandButton>
                </div>
            </h:panelGroup>
        </h:form>
    </h:body>
</html>

