<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
        <style>
            table{
                border-collapse: collapse;
                width: 100%;
            }
            table td{
                border: 1px solid black;
            }
        </style> 
    </h:head>
    <h:body>
        <h:form>
            <table>
                <ui:repeat value="#{dinamycBean.experienceGroup}" var="e">
                    <tr>
                        <td>#{e.company}</td>
                        <td>#{e.position}</td>
                    </tr>
                </ui:repeat>
            </table>
        </h:form>
    </h:body>
</html>

