<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <link rel="stylesheet" type="text/css" href="../../css/estilo.css"/>
    </h:head>
    <h:body>
        <h:form enctype="multipart/form-data">
            <div id="upload-button">
                <h:inputFile value="#{uploadBean.image}">
                    <f:passThroughAttribute name="accept" value="image/png"/>
                    <f:ajax event="change" listener="#{uploadBean.doUpload()}" execute="@form" render="@form"/>
                </h:inputFile>
            </div>

            <h:panelGroup rendered="#{uploadBean.upladed}" layout="block" style="text-align: center">
                <img src="../../image.png" height="400" width="400" style="border:3px solid #DDD;"/>
            </h:panelGroup>
        </h:form>
    </h:body>
</html>

