<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:outputFormat value="#{msg['messagge.parametro1']}">
            <f:param value="5"/>
            <f:param value="20"/>
            <f:param value="gracias"/>
        </h:outputFormat>
        <br />
        <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
        <br />
        <h:form>
            Enter Name<h:inputText value="#{hello_world.name}" />
            <h:commandButton value="enviar" action="welcome" />
        </h:form>
    </h:body>
</html>

